html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0 auto; 
    max-width:600px;
    text-align: center;
    font-family: 'Barlow';
    font-size: 13px;
    background-color: black;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
  }


h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    text-shadow: 2px 2px 2px rgb(95, 134, 131);
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(179, 179, 196);
}

ul {
    margin: 0;
    background-color: rgb(179, 179, 196);
    width: 600px;
}

.menu li,
.menu a {
  display: inline-block;
  margin: 0;
}

.menu a {
    padding: 15px;
    background-color:  rgb(95, 134, 131);
    color: white;
    text-decoration: none;
}  

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: white;
    color: rgb(95, 134, 131);
}

.kto-som {
    margin: 0;
    padding: 30px 90px;
    width: 600px;
    background-color:rgb(179, 179, 196);
}

.fotka {
    margin: 0;
}

img {
    margin: 0;
    width: 600px;
    padding-bottom: 20px;
}

.odkazy {
    margin-bottom: 30px;
}

.odkazy a {
    padding: 15px;
    border: white 1px solid;
    color: white;
    text-decoration: none;
}

.odkazy a:hover,
.odkazy a:focus,
.odkazy a:active {
    color: white;
    background-color: rgb(95, 134, 131);
}

